<main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editting book</h1>
  		<h2>Name</h2>
  		<a class="book_37445" href="/books/37445">Show</a> |
  		<h2>Image</h2>
  		<a class="back" href="/books">Back</a>
      <h2>Introduction</h2>

      updateuser
  </div>
</div>
      </div>

</main>